@import url(media.css);
@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #282c34;
  color: white;
}

body::-webkit-scrollbar {
  background-color: #101216;
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #000000;
}

.title {
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  font-size: 32px;
  background-color: #101216;
}

.row {
  padding-top: 90px;
  display: flex;
}

.link {
  color: #61dafb;
}

ul {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  gap: 30px;
  padding: 0 20px;
}

li {
  width: 100%;
  min-height: 241px;
  transition: .5s ease;
  overflow: hidden;
  border-radius: 10px;
}

li:hover {
  background: #09152a4a;
  box-shadow: 0 0 15px black;
}

li:active {
  background: #050b164a;
  background: #09152a4a;
  box-shadow: 0 0 15px transparent;
}

.userData:hover .name {
  background: #00000042;
}


.userData {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #050b164a;
  transition: .5s ease;
  position: relative;
  border-radius: 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}

.close,
.edit {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: .3s ease;
}

.close:hover,
.edit:hover {
  opacity: .5;
}

.edit {
  right: 40px;
}

.name {
  font-weight: 500;
  background: #000;
  transition: .3s ease;
  padding: 25px 20px;
  border-radius: 10px;
  font-size: 18px;
}

mark {
  font-size: 14px;
  background: transparent;
  color: white;
}

.variety {
  font-size: 18px;
}

.data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}

span {
  overflow: hidden;
}

.openModal {
  border-radius: 1000px;
  font-size: 32px;
  padding: 0 10px;
  font-weight: 600;
  transition: .3s ease;
}

.openModal:hover {
  opacity: .8;
}

.addUser {
  right: 20px;
  border-radius: 10px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
}

.editUser {
  position: inherit;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.userData form textarea {
  padding: 10px 20px;
}


form input:not([type="chekbox"]),
form button,
form textarea {
  width: 300px;
  background: #181717;
  padding: 20px;
  border-radius: 10px;
  font-size: 16px;
  color: white;
  transition: .3s ease;
}

form button:hover {
  opacity: .9;
  box-shadow: 0 0 10px black;
}

form input:not([type="checkbox"]):focus,
form textarea:focus {
  box-shadow: 0 0 10px black;
}

form label {
  display: block;
  text-align: center;
  padding: 20px;
  cursor: pointer;
}


/* .blanket {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000069;
  backdrop-filter: blur(3px);
} */